@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

.gradient-text {
  background: linear-gradient(90deg, #8B5CF6, #C4B5FD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
